{% extends "AppBundle::base.html.twig" %}

{% block title %}Activités{% endblock %}

{% block body %}

<div class="container-fluid">
    <p>ceci est l'accueil il sera complété ultérieurement<br>
    	il y a plusieur retour à la ligne <br>
    	car le style CSS n'est pas encore terminé<br>
    	et le header cache une partie du texte
    </p>
</div>

{% endblock %}
