{% extends "AppBundle::base.html.twig" %}

{% block title %}Activités{% endblock %}

{% block body %}

<div class="row">
	<div class="col col-md-8 col-md-offset-2 info">
		<div class="col-md-5">
			<span class="nomActivity col-md-12""> <h3>Nom de l'activité</h3></span>
		</div>
		<div class="col-md-12">
			<span class="description col-md-12""><h3>description :</h3> <br>Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus exustus est.

			Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.

			Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.
			</span>
		</div>
		<div class="col-md-3">
			<span class="lieu col-md-12""><h3>lieu :</h3> <br>
				addresse : <br>
				ville : <br>
				pays : <br>
			</span>
		</div>
		<div class="col-md-6 ">
			<span class="lieu col-md-12"><h3>Horraire possible : </h3><br> de JJ/MM à JJ/MM de HH à HH possible
			</span>
		</div>
		<div class="col-md-3 ">
			<span class="lieu col-md-12""><h3>Prix :</h3> <br> prévoir entre €€ et €€</span>
		</div>
		<div class="col-md-2 col-md-offset-10">
			<button class="inscription"><h4>s'inscrire</h4></button>
		</div>
	</div>
</div>

{% endblock %}